# Speaker recognition and verification





Article on speaker recognition method:

[https://arxiv.org/pdf/1710.10467.pdf](https://arxiv.org/pdf/1710.10467.pdf)

Code:

{% embed url="https://github.com/resemble-ai/Resemblyzer" %}

Article here

